%h1 Terms of Use
%h3 Last updated: July 14, 2014

%p Please read these Terms of Use ("Terms") carefully. By accessing or using the web  application or other products or services (collectively, the "Services") of My Experts  and our affiliates ("My Experts", "we" or "us"), you agree to be bound by these  Terms. If you do not agree to these Terms, do not use the Services.  We may change or modify these Terms at any time and in our sole discretion. If we  make changes to these Terms, we will provide notice of such changes, such as by  sending a notification, posting a notice on the Services or updating the "Last  Updated" date above. Your continued use of the Services will confirm your  acceptance of the revised Terms. We encourage you to frequently review the Terms  to ensure you understand the terms and conditions that apply to your use of the  Services. If you do not agree to the amended Terms, you must stop using the  Services and delete you’re My Experts account.  

%h2 Enjoy It
The language below is meant to support this rule. It allows us to continue providing 
and improving our Services, and it helps to ensure that a few mean users don't ruin 
the cause for everyone else. Your part in that is simple. Just use common sense—
keep reaching out to your experts, advocates, supporters and please don't send SMS 
that they don't want to receive.

%h2 Our Audience
My Experts is intended for use by people who are 13 years of age or older, and 
persons under the age of 13 are prohibited from creating My Experts accounts. You 
affirm that you are either more than 13 years of age, or an emancipated minor, or 
possess legal parental or guardian consent, and are fully able and competent to 
enter into the terms, conditions, obligations, affirmations, representations, and 
warranties set forth in these Terms, and to abide by and comply with these Terms. 
In addition, you affirm that you have not been previously suspended or removed 
from the Services and do not have more than one My Experts account. We may, in 
our sole discretion, refuse to offer the Services to any person or entity. We may, 
without notice and in our sole discretion, terminate your right to use the Services, or 
any portion of thereof, and block or prevent your future access to and use of the 
Services or any portion thereof.

%h2 Usage Data
By using the My Experts web application you agree to let My Experts collect 
information about your usage of the application, including interactions with SMS. 
For example, when you open a message, we attempt to detect those interactions. 
You agree that we will share the fact that you took these actions with the sender of 
the message. You also agree to let My Experts collect certain types of information 
from and about your device. For example, if you choose to use our "Add Experts" 
feature, you agree to let My Experts access your device and upload data to its servers. For more information about the information we collect from you and your 
device and My Expert’s privacy practices, please review our Private Policy.

%h2 User Content
The Services consist of interactive features and areas that allow users to create, 
post, transmit and/or store content, including but not limited to photos, text, 
graphics, items or other materials (collectively, "User Content"). You understand 
that your User Content may be viewable by others and that you have the ability to 
control who can access such content by adjusting your privacy settings. You agree to 
abide by our Needs Guidelines, which may be updated from time to time.
You agree that you are solely responsible for your User Content and that My Experts 
is not responsible or liable for any User Content. While we are not obligated to do so, 
we reserve the right, and have absolute discretion, to review, screen and delete User 
Content at any time and for any reason. You retain all ownership rights in your User 
Content. However, by submitting User Content to My Experts, you hereby grant us a 
nonexclusive, worldwide, royalty‐free, sublicensable and transferable license to use, 
reproduce, modify, adapt, publish, create derivative works from, distribute, perform 
and display such User Content in connection with the Services, subject to your use of 
privacy settings in the Services to control who can see your User Content.

%h2 Feedback
You agree that any feedback, suggestions, ideas or other information or materials 
regarding My Experts or the Services that you provide, whether by email or 
otherwise ("Feedback"), are non‐confidential and shall become the sole property of 
My Experts. We will be entitled to the unrestricted use and dissemination of such 
Feedback for any purpose, commercial or otherwise, without acknowledgment or 
compensation to you. You waive any rights you may have to the Feedback (including 
any copyrights or moral rights). We like hearing from users, but please do not share 
your ideas with us if you expect to be paid or want to continue to own or claim 
rights in them.

%h2 My Experts Content
Unless otherwise stated, all materials contained on or within the Services, including, 
but not limited to, text, graphics, images, code, illustrations, designs, icons, 
photographs, and written and other materials (collectively, "My Experts Content"), 
as well as their selection and arrangement, are protected by copyright, trademark, 
trade dress, patent, and/or other intellectual property laws, and unauthorized use of 
My Experts Content may violate such laws and these Terms. Except as expressly 
provided in these Terms, My Experts does not grant any express or implied rights to 
use My Experts Content. You agree that you will not copy, reproduce, republish, 
frame, download, transmit, modify, display, reverse engineer, sell, or participate in 
any sale of, rent, lease, loan, assign, distribute, license, sublicense, or exploit in any 
way, in whole or in part, My Experts Content, the Services or any related software, 
except as expressly stated in these Terms.
You are hereby granted a limited, nonexclusive, non‐sublicensable license to access 
and use the Services and My Experts Content. This license is revocable at any time. This license is subject to these Terms and does not include: The distribution, public 
performance or public display of My Experts Content; Modifying or otherwise 
making any derivative uses of the Services or My Experts Content, or any portion 
thereof; Use of any scraping, data mining, robots or similar data gathering or 
extraction methods; Downloading (other than page caching) any portion of the 
Services, My Experts Content or any information contained therein, except as 
expressly permitted on the Services; Accessing the My Experts API with an 
unauthorized or third‐party client; and Any use of the Services or My Experts 
Content other than for their intended purposes. Any use of the Services or My 
Experts Content other than as specifically authorized in these Terms, without the 
prior written permission of My Experts, is strictly prohibited and will terminate the 
license to use My Experts granted in these Terms.

%h2 Prohibited Activities
In addition to the other restrictions outlined in these Terms, you agree that you will 
not: Use the Services for any purpose that is illegal, beyond the scope of their 
intended use, or otherwise prohibited in these Terms; Use the Services in any 
manner that could interfere with, disrupt, negatively affect or inhibit other users 
from fully enjoying the Services, or that could damage, disable, overburden or 
impair the functioning of the Services in any manner; Compromise the security of 
the Services; Send any unsolicited or unauthorized advertising, spam, solicitations 
or promotional materials; Use any robot, spider, crawler, scraper or other 
automated means or interface not provided by us to access the Services or to extract 
data; Reverse engineer any aspect of the Services or do anything that might discover 
source code or bypass or circumvent measures employed to prevent or limit access 
to any area, content or code of the Services; Use or attempt to use another user's 
account without authorization; Attempt to circumvent any content filtering 
techniques we employ, or attempt to access areas/features of the Services that you 
are not authorized to access; Attempt to indicate in any manner that you have a 
relationship with us or that we have endorsed you or any products or services 
without our express written consent to do so; Engage in any harassing, intimidating, 
predatory or stalking conduct; Impersonate any person or entity or otherwise 
misrepresents your affiliation with a person or entity; Violate the publicity, privacy 
or data protection rights of others, including by taking pictures of another individual 
without receiving that individual's consent; Infringe any patent, trademark, trade 
secret, copyright or other intellectual or proprietary right of any party; Buy, sell, 
rent, lease, or otherwise offer in exchange for any compensation, access to your My 
Experts account, Updates, a My Experts username, or a expert link without My 
Expert’s prior written consent; Develop any third‐party applications that interact 
with User Content or the Services without our prior written consent; and Use the 
Services for any illegal or unauthorized purpose or engage in, encourage, or 
promote any activity that violates these Terms.

You further agree to abide by any third‐party terms that apply when posting 
reviews of My Experts, including the potential use of iTunes App Store  Terms of 
Service and/or the Android Market Terms of Service. Posting My Experts usernames in app store reviews is strictly prohibited and may result in the deletion of your My 
Experts account.

%h2 Account Security
After opening a My Experts account, you accept all responsibility for any activity 
that occurs while logged into your account. You are responsible for making sure that 
you keep your password secure and safe. You agree that you will not share your 
password with others or do anything that might jeopardize the security of your 
account. When you first create a My Experts account, we ask for your mobile 
number in order to verify your account. Please be aware that your carrier's text 
messaging fees apply for mobile number verification.

%h2 Modifications to the Services
We reserve the right to modify or discontinue, temporarily or permanently, the 
Services or any features or portions thereof without prior notice. You agree that we 
will not be liable for any modification, suspension or discontinuance of the Services 
or any part thereof.

%h2 Copyright Policy
My Experts respects the intellectual property rights of others. In accordance with 
the Digital Millennium Copyright Act ("DMCA") and other applicable laws, we have 
adopted a policy of, upon notice, restricting access to or deleting content that 
infringes a third party's copyright and, in appropriate circumstances and in our sole 
discretion, terminating account holders or other users of the Services who are 
deemed to be repeat infringers of a third party's copyrighted work.
If you believe that anything on the Services infringes any copyright that you own or 
control, you may file a notice of such infringement, in compliance with the 
requirements of 17 U.S.C. § 512(c)(3), with our designated agent:

My Experts 
Attn: Copyright Agent 
1705 Beechwood Ave., Unit C  Nashville, TN 37212  
copyright@myexperts.co
Fax: (615) 555.1234

%h2 Disclaimer
THE SERVICES AND THE MY EXPERTS CONTENT ARE PROVIDED "ASâ" WITHOUT 
WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT 
LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
PARTICULAR PURPOSE, TITLE AND NON‐INFRINGEMENT. IN ADDITION, WHILE 
MY EXPERTS ATTEMPTS TO PROVIDE A GOOD USER EXPERIENCE, WE CANNOT 
AND DO NOT REPRESENT OR WARRANT THAT THE EXPERTS, ADVOCATES, OR 
SUPPORTERS SERVICES WILL ALWAYS BE ACCURATE OR SECURE OR ERROR‐FREE 
OR THAT THE SERVICES WILL ALWAYS FUNCTION WITHOUT DELAYS, 
DISRUPTIONS OR IMPERFECTIONS.

%h2 Note to International Users
The Services are hosted in the United States. If you are a user accessing the Services 
from the European Union, Asia, or any other region with laws or regulations 
governing personal data collection, use, and disclosure, that differ from United 
States laws, please be advised that through your continued use of the Services, 
which are governed by U.S. law, you are transferring your personal information to 
the United States and you consent to that transfer.

%h2 Disputes
1) Indemnification
By agreeing to these Terms you agree to indemnify, defend and hold harmless My 
Experts, our managing members, shareholders, employees, affiliates, licensors and 
suppliers (the "My Experts Parties") from and against any and all complaints, 
charges, claims, damages, losses, costs, liabilities, and expenses (including attorneys' 
fees) due to, arising out of, or relating in any way to (a) your use of the Services; 
(b) any User Content you post, upload, use, distribute, store or otherwise transmit 
through the Services; (c) your violation of these Terms; or (d) your violation of the 
rights of another.
2) Limitation of Liability
Except where prohibited by law, in no event will My Experts or the My Experts 
Parties be liable for any indirect, special, punitive, incidental, exemplary or 
consequential damages that result from (a) the use of, or inability to use, the 
Services; (b) the provision of the Services or any materials available therein; or (c) 
the conduct of other users of the Services, even if My Experts has been advised of 
the possibility of such damages. You assume total responsibility for your use of the 
Services. Your only remedy against My Experts for dissatisfaction with the Services 
or any content is to stop using the Services. If, notwithstanding these Terms, My 
Experts is found liable to you for any damage or loss which arises out of or is in any 
way connected with your use of the Services or any content, My Experts’ liability 
shall in no event exceed $1.00. Some jurisdictions do not allow limitations of 
liability, so the foregoing limitation may not apply to you.
3) Arbitration
PLEASE READ THE FOLLOWING PARAGRAPH CAREFULLY BECAUSE IT REQUIRES 
YOU TO ARBITRATE DISPUTES WITH MY EXPERTS AND LIMITS THE MANNER IN 
WHICH YOU CAN SEEK RELIEF FROM US.
You and My Experts agree to arbitrate any dispute arising from these Terms or your 
use of the Services, except that you and My Experts are not required to arbitrate any 
dispute in which either party seeks equitable and other relief for the alleged 
unlawful use of copyrights, trademarks, trade names, logos, trade secrets, or 
patents. ARBITRATION PREVENTS YOU FROM SUING IN COURT OR FROM HAVING 
A JURY TRIAL. You and My Experts agree (a) that any arbitration will occur in 
Davidson County, Tennessee; (b) that arbitration will be conducted confidentially by 
a single arbitrator in accordance with the rules of JAMS; and (c) that the state or 
federal courts of Davidson County, Tennessee have exclusive jurisdiction over any or 
patents. ARBITRATION PREVENTS YOU FROM SUING IN COURT OR FROM HAVING 
A JURY TRIAL. You and My Experts agree (a) that any arbitration will occur in 
Davidson County, Tennessee; (b) that arbitration will be conducted confidentially by 
a single arbitrator in accordance with the rules of JAMS; and (c) that the state or 
federal courts of Davidson County, Tennessee©THE OTHER A 
CLASS ACTION, CLASS ARBITRATION OR REPRESENTATIVE ACTION OR 
PROCEEDING.
4) Forum and Venue
A lawsuit, if any, by you or My Experts against the other will occur in state or federal 
court in Davidson County, Tennessee. You and My Experts agree that the jurisdiction 
and venue of these courts is exclusive.

%h2 Applicable Law
Any dispute between you and My Experts will be governed by these Terms and the 
laws of the State of Tennessee and applicable United States law, without giving 
effect to any conflict of laws principles that may provide for the application of the 
law of another jurisdiction.

%h2 Severability
If any provision of these Terms shall be deemed unlawful, void or for any reason 
unenforceable, then that provision shall be deemed severable from these Terms and 
shall not affect the validity and enforceability of any remaining provisions.

%h2 Complete Agreement
These Terms supersede all prior understandings regarding the same and represent 
the complete agreement between you and My Experts.

%h2 Questions and Comments
My Experts welcomes comments, questions, concerns, or suggestions. Please send 
feedback to us by visiting http://support.myexperts.co. 
