%h1 Terms of Use

%p Last updated: July 14, 2014

%p Please read these Terms of Use ("Terms") carefully. By accessing or using the web application or other products or services (collectively, the "Services") of My Experts and our affiliates ("My Experts", "we" or "us"), you agree to be bound by these Terms. If you do not agree to these Terms, do not use the Services.
We may change or modify these Terms at any time and in our sole discretion. If we make changes to these Terms, we will provide notice of such changes, such as by sending a notification, posting a notice on the Services or updating the "Last Updated" date above. Your continued use of the Services will confirm your acceptance of the revised Terms. We encourage you to frequently review the Terms to ensure you understand the terms and conditions that apply to your use of the Services. If you do not agree to the amended Terms, you must stop using the Services and delete you’re My Experts account.

%h3 Enjoy it
%p The language below is meant to support this rule. It allows us to continue providing and improving our Services, and it helps to ensure that a few mean users don't ruin the cause for everyone else. Your part in that is simple. Just use common sense—keep reaching out to your experts, advocates, supporters and please don't send SMS that they don't want to receive.

%h3 Our Audience
%p My Experts is intended for use by people who are 13 years of age or older, and persons under the age of 13 are prohibited from creating My Experts accounts. You affirm that you are either more than 13 years of age, or an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms, and to abide by and comply with these Terms. In addition, you affirm that you have not been previously suspended or removed from the Services and do not have more than one My Experts account. We may, in our sole discretion, refuse to offer the Services to any person or entity. We may, without notice and in our sole discretion, terminate your right to use the Services, or any portion of thereof, and block or prevent your future access to and use of the Services or any portion thereof.

%h3 Usage Data
%p By using the My Experts web application you agree to let My Experts collect information about your usage of the application, including interactions with SMS. For example, when you open a message, we attempt to detect those interactions. You agree that we will share the fact that you took these actions with the sender of the message. You also agree to let My Experts collect certain types of information from and about your device. For example, if you choose to use our "Add Experts" feature, you agree to let My Experts access your device and upload data to its servers. For more information about the information we collect from you and your device and My Expert’s privacy practices, please review our Private Policy.

%h3 User Content
%p The Services consist of interactive features and areas that allow users to create, post, transmit and/or store content, including but not limited to photos, text, graphics, items or other materials (collectively, "User Content"). You understand that your User Content may be viewable by others and that you have the ability to control who can access such content by adjusting your privacy settings. You agree to abide by our Needs Guidelines, which may be updated from time to time.

%p You agree that you are solely responsible for your User Content and that My Experts is not responsible or liable for any User Content. While we are not obligated to do so, we reserve the right, and have absolute discretion, to review, screen and delete User Content at any time and for any reason. You retain all ownership rights in your User Content. However, by submitting User Content to My Experts, you hereby grant us a nonexclusive, worldwide, royalty-free, sublicensable and transferable license to use, reproduce, modify, adapt, publish, create derivative works from, distribute, perform and display such User Content in connection with the Services, subject to your use of privacy settings in the Services to control who can see your User Content.

%h3 Feedback
%p You agree that any feedback, suggestions, ideas or other information or materials regarding My Experts or the Services that you provide, whether by email or otherwise ("Feedback"), are non-confidential and shall become the sole property of My Experts. We will be entitled to the unrestricted use and dissemination of such Feedback for any purpose, commercial or otherwise, without acknowledgment or compensation to you. You waive any rights you may have to the Feedback (including any copyrights or moral rights). We like hearing from users, but please do not share your ideas with us if you expect to be paid or want to continue to own or claim rights in them.

%h3 My Experts Content
%p Unless otherwise stated, all materials contained on or within the Services, including, but not limited to, text, graphics, images, code, illustrations, designs, icons, photographs, and written and other materials (collectively, "My Experts Content"), as well as their selection and arrangement, are protected by copyright, trademark, trade dress, patent, and/or other intellectual property laws, and unauthorized use of My Experts Content may violate such laws and these Terms. Except as expressly provided in these Terms, My Experts does not grant any express or implied rights to use My Experts Content. You agree that you will not copy, reproduce, republish, frame, download, transmit, modify, display, reverse engineer, sell, or participate in any sale of, rent, lease, loan, assign, distribute, license, sublicense, or exploit in any way, in whole or in part, My Experts Content, the Services or any related software, except as expressly stated in these Terms.
%p You are hereby granted a limited, nonexclusive, non-sublicensable license to access and use the Services and My Experts Content. This license is revocable at any time. This license is subject to these Terms and does not include: The distribution, public performance or public display of My Experts Content; Modifying or otherwise making any derivative uses of the Services or My Experts Content, or any portion thereof; Use of any scraping, data mining, robots or similar data gathering or extraction methods; Downloading (other than page caching) any portion of the Services, My Experts Content or any information contained therein, except as expressly permitted on the Services; Accessing the My Experts API with an unauthorized or third-party client; and Any use of the Services or My Experts Content other than for their intended purposes. Any use of the Services or My Experts Content other than as specifically authorized in these Terms, without the prior written permission of My Experts, is strictly prohibited and will terminate the license to use My Experts granted in these Terms.

%h3 Prohibited Activities
%p In addition to the other restrictions outlined in these Terms, you agree that you will not: Use the Services for any purpose that is illegal, beyond the scope of their intended use, or otherwise prohibited in these Terms; Use the Services in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Services, or that could damage, disable, overburden or impair the functioning of the Services in any manner; Compromise the security of the Services; Send any unsolicited or unauthorized advertising, spam, solicitations or promotional materials; Use any robot, spider, crawler, scraper or other automated means or interface not provided by us to access the Services or to extract data; Reverse engineer any aspect of the Services or do anything that might discover source code or bypass or circumvent measures employed to prevent or limit access to any area, content or code of the Services; Use or attempt to use another user's account without authorization; Attempt to circumvent any content filtering techniques we employ, or attempt to access areas/features of the Services that you are not authorized to access; Attempt to indicate in any manner that you have a relationship with us or that we have endorsed you or any products or services without our express written consent to do so; Engage in any harassing, intimidating, predatory or stalking conduct; Impersonate any person or entity or otherwise misrepresents your affiliation with a person or entity; Violate the publicity, privacy or data protection rights of others, including by taking pictures of another individual without receiving that individual's consent; Infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party; Buy, sell, rent, lease, or otherwise offer in exchange for any compensation, access to your My Experts account, Updates, a My Experts username, or a expert link without My Expert’s prior written consent; Develop any third-party applications that interact with User Content or the Services without our prior written consent; and Use the Services for any illegal or unauthorized purpose or engage in, encourage, or promote any activity that violates these Terms.

%p You further agree to abide by any third-party terms that apply when posting reviews of My Experts, including the potential use of iTunes App Store  Terms of Service and/or the Android Market Terms of Service. Posting My Experts usernames in app store reviews is strictly prohibited and may result in the deletion of your My Experts account.

%h3 Account Security
%p After opening a My Experts account, you accept all responsibility for any activity that occurs while logged into your account. You are responsible for making sure that you keep your password secure and safe. You agree that you will not share your password with others or do anything that might jeopardize the security of your account. When you first create a My Experts account, we ask for your mobile number in order to verify your account. Please be aware that your carrier's text messaging fees apply for mobile number verification.

%h3 Modifications to the Services
%p We reserve the right to modify or discontinue, temporarily or permanently, the Services or any features or portions thereof without prior notice. You agree that we will not be liable for any modification, suspension or discontinuance of the Services or any part thereof.

%h3 Copyright Policy
%p My Experts respects the intellectual property rights of others. In accordance with the Digital Millennium Copyright Act ("DMCA") and other applicable laws, we have adopted a policy of, upon notice, restricting access to or deleting content that infringes a third party's copyright and, in appropriate circumstances and in our sole discretion, terminating account holders or other users of the Services who are deemed to be repeat infringers of a third party's copyrighted work.
%p If you believe that anything on the Services infringes any copyright that you own or control, you may file a notice of such infringement, in compliance with the requirements of 17 U.S.C. § 512(c)(3), with our designated agent:

%p My Experts 
%p Attn: Copyright Agent 
%p 1705 Beechwood Ave., Unit C  Nashville, TN 37212  
%p copyright@myexperts.co
%p Fax: (615) 555.1234

%h3 Disclaimer
THE SERVICES AND THE MY EXPERTS CONTENT ARE PROVIDED "AS IS" WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN ADDITION, WHILE MY EXPERTS ATTEMPTS TO PROVIDE A GOOD USER EXPERIENCE, WE CANNOT AND DO NOT REPRESENT OR WARRANT THAT THE EXPERTS, ADVOCATES, OR SUPPORTERS SERVICES WILL ALWAYS BE ACCURATE OR SECURE OR ERROR-FREE OR THAT THE SERVICES WILL ALWAYS FUNCTION WITHOUT DELAYS, DISRUPTIONS OR IMPERFECTIONS.

%h3 Note to International Users
The Services are hosted in the United States. If you are a user accessing the Services from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use, and disclosure, that differ from United States laws, please be advised that through your continued use of the Services, which are governed by U.S. law, you are transferring your personal information to the United States and you consent to that transfer.

%h3 Disputes
%ol
  %li Indemnification
  By agreeing to these Terms you agree to indemnify, defend and hold harmless My Experts, our managing members, shareholders, employees, affiliates, licensors and suppliers (the "My Experts Parties") from and against any and all complaints, charges, claims, damages, losses, costs, liabilities, and expenses (including attorneys' fees) due to, arising out of, or relating in any way to (a) your use of the Services; (b) any User Content you post, upload, use, distribute, store or otherwise transmit through the Services; (c) your violation of these Terms; or (d) your violation of the rights of another.
  %li Limitation of Liability
  Except where prohibited by law, in no event will My Experts or the My Experts Parties be liable for any indirect, special, punitive, incidental, exemplary or consequential damages that result from (a) the use of, or inability to use, the Services; (b) the provision of the Services or any materials available therein; or (c) the conduct of other users of the Services, even if My Experts has been advised of the possibility of such damages. You assume total responsibility for your use of the Services. Your only remedy against My Experts for dissatisfaction with the Services or any content is to stop using the Services. If, notwithstanding these Terms, My Experts is found liable to you for any damage or loss which arises out of or is in any way connected with your use of the Services or any content, My Experts’ liability shall in no event exceed $1.00. Some jurisdictions do not allow limitations of liability, so the foregoing limitation may not apply to you.
  %li Arbitration
  PLEASE READ THE FOLLOWING PARAGRAPH CAREFULLY BECAUSE IT REQUIRES YOU TO ARBITRATE DISPUTES WITH MY EXPERTS AND LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF FROM US.
  You and My Experts agree to arbitrate any dispute arising from these Terms or your use of the Services, except that you and My Experts are not required to arbitrate any dispute in which either party seeks equitable and other relief for the alleged unlawful use of copyrights, trademarks, trade names, logos, trade secrets, or patents. ARBITRATION PREVENTS YOU FROM SUING IN COURT OR FROM HAVING A JURY TRIAL. You and My Experts agree (a) that any arbitration will occur in Davidson County, Tennessee; (b) that arbitration will be conducted confidentially by a single arbitrator in accordance with the rules of JAMS; and (c) that the state or federal courts of Davidson County, Tennessee have exclusive jurisdiction over any appeals of an arbitration award and over any suit, if any, between the parties not subject to arbitration. Other than class procedures and remedies discussed below, the arbitrator has the authority to grant any remedy that would otherwise be available in court. WHETHER THE DISPUTE IS HEARD IN ARBITRATION OR IN COURT, YOU AND MY EXPERTS WILL NOT COMMENCE AGAINST THE OTHER A CLASS ACTION, CLASS ARBITRATION OR REPRESENTATIVE ACTION OR PROCEEDING.
  %li Forum and Venue
%p A lawsuit, if any, by you or My Experts against the other will occur in state or federal court in Davidson County, Tennessee. You and My Experts agree that the jurisdiction and venue of these courts is exclusive.

%h3 Applicable Law
%p Any dispute between you and My Experts will be governed by these Terms and the laws of the State of Tennessee and applicable United States law, without giving effect to any conflict of laws principles that may provide for the application of the law of another jurisdiction.

%h3 Severability
%p If any provision of these Terms shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions.

%h3 Complete Agreement
%p These Terms supersede all prior understandings regarding the same and represent the complete agreement between you and My Experts.

%h3 Questions and Comments
%p My Experts welcomes comments, questions, concerns, or suggestions. Please send feedback to us by visiting http://support.myexperts.co.  

%hr.dashed-break

%h1 Needs Guidelines
%p My Experts is a communication tool. Our goal in creating these rules is to accommodate the broadest range of self expression while balancing the need for users, experts, advocates, and supporters to be able to use our service safely and enjoyably.

%p Don’t send experts, advocates, or supporters SMS they don’t want to receive—especially if the SMS is mean.
Be thoughtful about what you SMS and whom you send it to. It’s okay with us if someone takes a screenshot, but we can’t speak for you or the expert, advocate or supporter. My Experts attempts to detect screenshots and notify the sender, but it doesn’t always work perfectly - and can always capture the image with a camera.
Keep it legal. Don’t use My Experts for any illegal shenanigans and if you’re under 18 or are SMS' with someone who might be: keep it G rated!

%h3 What not to SMS:
%p Nudity or sexually suggestive content involving minors (people under the age of 18)
Minors engaged in activities that are physically dangerous and harmful: Invasions of privacy, Threats, Harassment or Bullying, Impersonation, and Self-Harm. If your account settings allow “everyone” to view your Status, and you post an Update that is not suitable for sensitive viewers (but does not otherwise violate these rules), other experts, advocates, or supporters may be shown a "sensitive content" warning before viewing your Updates. Violating these rules may result in the removal of content, the suspension of your account and being prohibited from using My Experts in the future. Please take these rules seriously and honor them in the spirit in which they are intended. The rules will change and evolve along with the My Experts user community. We will do our best to enforce them consistently and fairly, and ultimately we’ll try to do what we think is best in each situation, at our own discretion.

%hr.dashed-break

%h1 Privacy Policy

%p Last Updated: July 14, 2014

%p This Privacy Policy explains how information about you is collected, used and disclosed by My Experts and our subsidiaries (collectively, "My Experts") when you use our websites, mobile applications and other online products and services (collectively, the "Services") or when you otherwise interact with us.
We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy and, in some cases, we may provide you with additional notice (such as adding a statement to our websites' homepages or sending you a notification). We encourage you to review the Privacy Policy whenever you access the Services to stay informed about our information practices and the ways you can help protect your privacy.

%h2 Collection of Information 

%h3 Information You Provide to Us
%p We collect information you provide directly to us. For example, we collect information when you create an account, use the Services to send or receive messages via our Services content sent via the create conversation ("SMS"), request customer support or otherwise communicate with us. The types of information we may collect include your username, password, email address, full name, expertise, zip code, phone number, age and any other information you choose to provide.
%p When you send or receive messages, we also collect, process and store the contents of those messages and/or texts on our servers. The contents of those messages are also stored on the devices of recipients. We cannot prevent others from making copies of your messages (e.g., by taking a screenshot). If we are able to detect that the recipient has captured a screenshot of a SMS that you send, we will attempt to notify you. 

%h3 Information We Collect Automatically When You Use the Services
%p When you access or use our Services, we automatically collect information about you, including:

%h3 Usage Information
%p When you send or receive messages via our Services, we collect information about these messages, including the time, date, sender and recipient of the SMS. We also collect information about the number of messages sent and received between you and your friends and which friends you exchange messages with most frequently.

%h3 Log Information
%p We log information about your use of our usernames, including your browser type and language, access times, usernames viewed, your IP address and the website you visited before navigating to our websites.

%h3 Device Information
%p We may collect information about the computer or device you use to access our Services, including the hardware model, operating system and version, MAC address, unique device identifier, phone number, International Mobile Equipment Identity ("IMEI") and mobile network information. In addition, the Services may access your device's native phonebook and image storage applications, with your consent, to facilitate your use of certain features of the Services. For more information about how you can control our access to these applications, please see "Your Choices" below.

%h3 Location Information
%p With your consent, we may collect information about the location of your device to facilitate your use of certain features of our Services, determine the speed at which your device is traveling, add location-based filters to your SMS (such as local weather), and for any other purpose described in this privacy policy. For more information about how you can control our collection of location information, please see "Your Choices" below.

%h3 Information Collected by Cookies and Other Tracking Technologies
%p We use various technologies to collect information, and this may include sending cookies to you. Cookies are small data files stored on your hard drive or in device memory that help us to improve our Services and your experience, see which areas and features of our Services are popular and count visits. We may also collect information using web beacons (also known as "tracking pixels"). For more information about cookies, and how to disable them, please see "Your Choices" below.

%h2 Information We Collect From Other Sources
%p We may also obtain information from other sources and combine that with information we collect through our Services.

%h2 Use of Information
%p We may use information about you for various purposes, including to: Provide, maintain and improve our Services, including to provide additional features and content for your messages; Provide and deliver the products and services you request, process transactions and send you related information; Respond to your comments, questions and requests and provide customer service; Send you technical notices, updates, security alerts and support and administrative messages; Communicate with you about products, services, offers, promotions, rewards, and events offered by My Experts and others, and provide news and information we think will be of interest to you; Monitor and analyze trends, usage and activities in connection with our Services; Personalize and improve the Services and provide advertisements, content or features that match user profiles or interests; Link or combine with information we get from others to help understand your needs and provide you with better service; Detect, investigate and/or prevent fraudulent, unauthorized or illegal activity; and Carry out any other purpose for which the information was collected.

%p My Experts is based in the United States and the information we collect is governed by U.S. law. By accessing or using the Services or otherwise providing information to us, you consent to the processing and transfer of information in and to the U.S. and other countries.

%h2 Sharing of Information
%p We may share information about you as follows or as otherwise described in this Privacy Policy: With other users when you send them messages, including your username and the contents of the SMS you send them. When you and another user are present in a text screen at the same time, the alert button will turn from red to green.  We will also transmit information about your device to your expert’s, advocate’s, or supporter’s device to facilitate the connection; When you use Add to add your experts, advocates, or supporters your username will be shared with other similar to you. In these cases, we will not display your phone number to these users, but we will share the fact that your username is associated with your phone number; With users and others who view your profile, which includes your username, "rating" (a total of points you have sent and received as an potential expert) and a roster of the experts, advocates, or supporters you exchange messages with most as determined by an algorithm (your "Best" list). Similarly, your username may appear in the Best lists of others who engage with you using our Services; With vendors, consultants and other service providers who need access to such information to carry out work on our behalf; In response to legal process or a request for information if we believe disclosure is in accordance with any applicable law, rule, or regulation, or as otherwise required by any applicable law, rule or regulation; In order to investigate or remedy potential violations of our user agreements or policies, or to protect the rights, property and safety of My Experts, our users or others; In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of our business to another company; and With your consent or at your direction. We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.

%h2 How We Protect Information

%p Steps we take to keep your information secure. We keep your account information on a secured server behind a firewall. When you enter sensitive information (such as credit card numbers and passwords), we encrypt that information using secure socket layer technology (SSL). We also use automated and social measures to enhance security, such as analyzing account behavior for fraudulent or otherwise anomalous behavior, may limit use of site features in response to possible signs of abuse, may remove inappropriate content or links to illegal content, and may suspend or disable accounts for violations of our Statement of Rights and Responsibilities.

%p Risks inherent in sharing information. Although we allow you to set privacy options that limit access to your information, please be aware that no security measures are perfect or impenetrable. We cannot control the actions of other users with whom you share your information. We cannot guarantee that only authorized persons will view your information. We cannot ensure that information you share on My Experts will not become publicly available. We are not responsible for third party circumvention of any privacy settings or security measures on My Experts. You can reduce these risks by using common sense security practices such as choosing a strong password, using different passwords for different services, and using up to date antivirus software. 

%p Report Violations. You should report any security violations to us on this help page.


%h2 Security
%p We take reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.

%h2 Children
%p We do not knowingly collect personal information from users under the age of thirteen. 

%h2 Your Choices

%h3 Privacy Settings
%p Through settings in our Services, you can choose whether to accept SMS only from users you have added to your roster, or from any other My Experts user who determines you as a potential expert, advocate, or supporter. If you choose to receive SMS only from your experts, advocates, or supporters and a user who is not on your roster attempts to send you a SMS or add you as an expert, advocate, or supporter, you will receive a notification and have the option of adding the user to your roster. You can also change who can view your Status in the settings feature of our Services. You also have the ability to delete users from your roster or to block specific users at any time by using controls within our Services.

%h3 Account Information
%p You may update or correct information about yourself by editing your account settings within our Services. If you wish to delete your account, please visit https://support.myexperts.co/delete-account, but note that we may retain certain information as required by law, for legitimate business purposes, or as part of our regular retention practices. We may also retain cached or archived copies of information about you for a certain period of time.

%h3 Location
%p When you first launch any features of our Services that collect location information, you will be asked to consent to our collection of this information. If you initially consent to our collection of location information, you can subsequently stop the collection of this information by changing the preferences on your mobile device. If you do so, certain features of our Services will no longer function. You may also stop our collection of location information by following the standard uninstall process to remove our Services from your device.

%h3 Cookies
%p Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our website.

%h3 Push Notifications/Alerts
%p My Experts may send push notifications or alerts to your device. You can deactivate these messages at any time by changing the notification settings on your device (iOS) or by changing your settings within our Services (Android).
