.home-main-container, .home-learn-more-container {
  height: 100%;
}

.terms input {
  width: 20px;
}

.sms-logo {
  img {
    width: 130px;
  }
}

#accept {
  position: relative;
  top: -8px;
}

.image-container {
  width: 50%;
  float: left;
  img {
    width: 100%;
    min-width: 220px;
  }
  @media (max-width: 768px) {
    width: 100% !important;
  }
}


.form-container {
  float: left;
  @media (max-width: 768px) {
    width: 100% !important;
  }
}


.main-container {
  position: relative;
  height: 100%;
}

.sign-in {
  padding: 10px;
  cursor: pointer;
}

.learn-more-link {
  clear: both;
  text-align: center;
  position: absolute;
  bottom: 60px;
  width: 100%;
  @media (max-width: 768px) {
    display: none;
  }
}

#learn-more {
  padding-top: 100px;
}

.about-item-container {
  .description {
    width: 50%;
    float: left;
    @media (max-width: 768px) {
      float: none;
    }
  }
  .image {
    width: 50%;
    float: left;
    img {
      width: 350px;
      margin: 0 100px;
      @media (max-width: 768px) {
        margin: 0;
      }
    }
  }
 } 

 .submit-user-index {
   width: 30% !important;
   display: inline-block;
   font-size: 17px;
 }
