.center
  %h2 Type in what you need into the search bar below... for example, subs close to vanderbilt
  .tutorial-input
    = text_field_tag 'search', nil, placeholder: 'subs close to vanderbilt'
  .tutorial-submit Person
  .tutorial-submit Business
%h2.center Click the business button to begin your search
%a.anchor-no-style{:href => "/tutorial-3"}
  .center.tutorial-next Next

