%h1.center Hey #{@user.username}!
%br
%h2.center Welcome to My Experts.
%h2.center We are your personal text messaging search engine.
%h2.center Please allow us to show you how it works.
%br
%a.anchor-no-style{:href => "/tutorial-2"}
  .center.tutorial-next Next

